.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
  border-radius: 20%;
}


.toggle-container {
  max-width: 100vw;
  overflow: overlay;
}
